* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #F1F5F9;
  font-family: Arial, sans-serif;
  text-align: center;   /* keeps heading centered horizontally */
}

.container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  min-width: 60vw;
}
