* {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background: #FEC0AA;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(247, 234, 234, 0.3)),
                      url("images/background.jpg");
    background-size: cover;    
    background-position: center; 
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.);
}
